@import url(grid.css);

body {
    background: url(../image/bg.png) no-repeat;
    background-attachment: fixed; 
    padding: 20px;
    /*margin-left: 20%;
    margin-right: 20%;*/
}

.title, figure, .home_title, h1, nav ul li a:hover {
    color: #012C41; 
}

.home_title {
    /*padding-top: 10px;*/
    text-align: right;
    font-size: 600%;
 }

.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    margin-top: 15%;
}

.info, figure, .search {
    border-radius: 3px 3px 3px 3px;
}

.info, figure {
    border-radius: 3px 3px 3px 3px;
    /*padding: 10px;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

nav ul, .info, footer {
    background-color:  #012C41;
}

nav ul li {
    display: inline-block; 
    list-style-type: none;
    margin: 0;
}

nav ul li, nav ul li a
{
    padding-top:1em;
    padding-bottom:1em;
    padding-right:0.2em;
    padding-left:0.2em;  
    text-align: center; 
}
    
nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
        background-color:  #D5EEFA;
        text-decoration: none;
    }

.info, a, nav ul li a {
color: #D5EEFA;
}

a {
color: #D5EEFA;
text-align: center;
}

footer {
 
    margin-bottom: 90%;
    text-align: center;
    font-style: oblique;
    
}

.contacts {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 15 px;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.video iframe,  
.video object,  
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

img {
	max-width: 80%;
	height: auto;
}

input {
    min-width: 20%;
}

textarea {
    max-width: 90%;
    margin: 5%;
}

